body {
  margin: 0;
  padding: 0;
  user-select: none;
  background: #f5f4f4;
}
.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0px 3rem;
  padding-top: 20px;
}
.wrapper {
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.item {
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 5px;
  overflow: hidden;
}

.item-title {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0.8rem;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
  font-weight: 600;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  text-align: start;
  margin: 0;
}

.item-content {
  text-align: left;
  font-size: 1rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  background-color: #fafafa;
}

.chevron {
  transition: 0.3s ease-in-out;
  color: #fff;
}

.chevron-active {
  transform: rotate(90deg);
  transition: 0.3s ease-in-out;
}
